<h1>Class & Styles</h1>
<input type="text" required #nameInputStyles="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.active]="nameInputStyles.invalid">El campo es requerido</p>

<label>Nombre</label>
<input type="text" required minlength="3" maxlength="12" #nameInputStyles2="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInputStyles2.invalid ? 'italic' : 'normal'">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

<div class="dynamic-styles">
  <div>
    <input type="number" required [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [width]="widthImg" [src]="person.avatar" alt="Imagen">
    <br>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="Imagen">
  </div>
</div>
<hr>

<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">

<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Jahiker'">
    La persona es Jahiker
  </p>

  <p *ngSwitchCase="'Mafer'">
    La persona es Mafer
  </p>

  <p *ngSwitchCase="'Pili'">
    La persona es Pili
  </p>

  <p *ngSwitchDefault>No hace match</p>
</div>

<hr>

<h1>*ngFor</h1>

<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>

<ul>
  <li *ngIf="names.length === 0">No hay elementos en la lista</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} - {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr>

<h1>*ngIf</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">

<p *ngIf="person.name === 'Jahiker'; else elseBlock">Es Jahiker</p>
<p *ngIf="person.name === 'Mafer'; else elseBlock">Es Mafer</p>
<p *ngIf="person.name === 'Pili' && person.age == 7; else elseBlock">Es Pili</p>
<ng-template #elseBlock>
  <p>No es de la familia</p>
</ng-template>
<hr>

<h1>ngModel</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>{{ person.name }}</p>
<p>Valid: {{ nameInput.valid }}</p>

<input type="number" class="{{ ageInput.valid ? 'valid' : 'invalid'}}" required max="100" min="1" #ageInput="ngModel" [(ngModel)]="person.age">
<p>{{ person.age }}</p>
<p>Valid: {{ ageInput.valid }}</p>
<hr>

<h1>Events</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nesciunt tenetur iste consectetur ab est consequatur repellendus commodi aut quaerat libero alias illum veritatis obcaecati laudantium, harum quod, natus quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis deleniti corrupti atque similique accusantium ducimus, dicta eligendi dolore sequi vero excepturi cumque nisi asperiores animi? Consectetur est hic sapiente tempore.</p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>{{ person.name }}</p>
<hr>

<h1>Binding Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100px" alt="Imagen">
<hr>

<h1>Interpolacion de datos</h1>
<h2>{{ 'Hola Mundo '.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola soy {{ name }} y tengo {{ age }} años</h3>
<img width="150" src={{img}} alt="Imagen">
